/* same to 3 pages */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f4c9d;
   
}
.navbrand {
    color:#f0e7fe;
    margin-left: 1.25em;
}

.home, .collection, .gallery, .contact {
    margin-left: 3.0em;
}

/* Header and Nav Bar */
header ul {
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    font-family: 'Alegreya Sans SC'; font-size: 1.187em;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
    margin-right: 0.625em;
}
a:hover {
    color:pink;
    border: 2px solid;
    border-radius: 5px;
}


/*HAMBURGER ICON NONE MEDIA VER */
#hamicon {display: none; width: 50px;}
#close {display: none;}


@media only screen and (max-width: 700px) {
     /* HAMBURGER MENU */
     #hamicon {display: block;}
     #close {display: none;}
     #links a {display: block;} /* this will stack links since block is full width */
     #links {display: none;}
     .myflexbox {display: flex; justify-content: space-between;}
   
   
    #links {
        /* display: none; */
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    #links ul {
        width: 100%;
        flex-direction: column;
    }
    #links li {
        text-align: center;
        padding: 10px;
       
    }
    #links li a {
        margin-top: 20px;
    }
    #links.active {
        display: flex;
    }
    h1 {
        font-size: 2rem;
    }
    h1 span {
        font-size: 3rem;

    }
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
    }
    .video {
        max-width: 100%;
        overflow-wrap: scroll;
    }
   
}


@media only screen and (max-width:390px) {
     /* HAMBURGER MENU */
     #hamicon {display: block;}
     #close {display: none;}
     #links a {display: block;} /* this will stack links since block is full width */
     #links {display: none;}
     .myflexbox {display: flex; justify-content: space-between;}
   
    #links {
        /* display: none; */
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    #links ul {
        width: 100%;
        flex-direction: column;
    }
    #links li {
        text-align: center;
        padding: 5px;
       
    }
    #links li a {
        margin-top: 20px;
    }
    .links.active {
        display: flex;
    }
    h1 {
        font-size: 2rem;
    }
    h1 span {
        font-size: 3rem;
    }
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
        margin: 0%;
    }
    .video {
        max-width: 100%;
        overflow-wrap: scroll;
    }
    
    .circle {display: none;}
   

   
}
/* Nav bar home page ends here */

/* ally */
.skip {
    background-color: #ffffff; /*put mouse on the color cube and click rgb to change to hex color*/
    padding: 5px;
    border: 1px solid black; /*solid + color means the color of the border*/
    position: absolute;
    top: 30px;
    left: -999px; /* pushes it off screen */
}
/* focus is a psuedo class that means the element has been tabbed to */
.skip:focus {
    left: 10px;
}




/* Collection Page Only Starts Here */
h1, p, .quote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
    font-size: 60px;
/*All same fonts for 3 pages*/    
}
h1, h2 {font-family: 'Ubuntu', sans-serif; font-weight: 500;}
.quote {
    font-family: 'Ubuntu', sans-serif; font-weight: 300;
    text-align: center;
    padding: .2rem;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
/* Flexbox */
.sections {
    display: flex;
    padding: 5px;
    margin: 10px;
}
.sections div {
    flex: 1;
}
.sections h2 {
    text-align: center;
}
.stationary, .miniature, .keychains {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.sections p {
    margin: 2rem;
}
.sections a {
    display: block;
    text-align: center;
    padding: 8px 20px;
    background-color: #65778a;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;  
}



/* Responsive for Collection Page Only */
@media only screen and (max-width: 700px) {
    .sections {
        flex-direction: column;
    }
    h1 {
        font-size: 35px;
        padding: 5px;
    }

}









/* Collection Page Only Ends Here*/
