/* same to 3 pages */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f4c9d;
   
}
.navbrand {
    color:#f0e7fe;
    margin-left: 1.25em;
}

.home, .collection, .gallery, .contact {
    margin-left: 3.0em;
}

/* Header and Nav Bar */
header ul {
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    font-family: 'Alegreya Sans SC'; font-size: 1.187em;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
    margin-right: 0.625em;
}
a:hover {
    color:pink;
    border: 2px solid;
    border-radius: 5px;
}


/*HAMBURGER ICON NONE MEDIA VER */
#hamicon {display: none; width: 50px;}
#close {display: none;}


@media only screen and (max-width: 700px) {
     /* HAMBURGER MENU */
     #hamicon {display: block;}
     #close {display: none;}
     #links a {display: block;} /* this will stack links since block is full width */
     #links {display: none;}
     .myflexbox {display: flex; justify-content: space-between;}
   
   
    #links {
        /* display: none; */
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    #links ul {
        width: 100%;
        flex-direction: column;
    }
    #links li {
        text-align: center;
        padding: 10px;
       
    }
    #links li a {
        margin-top: 20px;
    }
    #links.active {
        display: flex;
    }
   
    .textbox {
        margin: auto;
    }
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
    }
    .video {
        max-width: 100%;
        overflow-wrap: scroll;
    }

    h1 {
        font-size: 25px;
    }
    h1 span {
        font-size: 20px;
    }

   

   
   
}


@media only screen and (max-width:390px) {
     /* HAMBURGER MENU */
     #hamicon {display: block;}
     #close {display: none;}
     #links a {display: block;} /* this will stack links since block is full width */
     #links {display: none;}
     .myflexbox {display: flex; justify-content: space-between;}
   
    #links {
        /* display: none; */
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    #links ul {
        width: 100%;
        flex-direction: column;
    }
    #links li {
        text-align: center;
        padding: 5px;
       
    }
    #links li a {
        margin-top: 20px;
    }
    .links.active {
        display: flex;
    }
   
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
        margin: 0%;
    }
    .video {
        max-width: 100%;
        overflow-wrap: scroll;
    }
    
    .circle {display: none;}

    

   

   
}
/* Nav bar home page ends here */

/* ally */
.skip {
    background-color: #ffffff; /*put mouse on the color cube and click rgb to change to hex color*/
    padding: 5px;
    border: 1px solid black; /*solid + color means the color of the border*/
    position: absolute;
    top: 30px;
    left: -999px; /* pushes it off screen */
}
/* focus is a psuedo class that means the element has been tabbed to */
.skip:focus {
    left: 10px;
}




/* Home Page styles goes here */
body {
    background-image:url("../project/images/bck.jpg");
    background-repeat: no-repeat;
    background-color: #bfdff8;
}
h2 {
    font-size: 1.375em;
}
h1 {
    position:relative;
    
    font-size: 40px;
    margin-left: 60px;
}
h1 span {
    position:relative;
   
    font-family: 'Ubuntu', sans-serif; font-weight: 500;
    font-size: 80px;
    color:#405060;
    margin-left: 50px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textbox p {
    font-family: 'Ubuntu', sans-serif; font-weight: 300;
    font-size: 18px;
    padding: 40px;
    border-radius: 1em;
    background-color: #ffffff;
    margin-left: 80px;
}
.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 270px;
    padding: 8px 20px;
    background-color: #4a5662;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
}
.content .imgbox {
    width: 550px;
    display: flex;
    margin-right: 120px;
    margin-top: 70px;
    background-color: #bfdff8;
}
.video {
    position:relative;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#8888d7;
    clip-path: circle(300px at left 800px);
}

