/* same to 3 pages */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f4c9d;
   
}
.navbrand {
    color:#f0e7fe;
    margin-left: 1.25em;
}

.home, .collection, .gallery, .contact {
    margin-left: 3.0em;
}

/* Header and Nav Bar */
header ul {
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    font-family: 'Alegreya Sans SC';font-size: 1.187em;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
    margin-right: 0.625em;
}
a:hover {
    color:pink;
    border: 2px solid;
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875em;
    height: 1em;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.14em;
}

@media only screen and (min-width: 500px) {
    .toggle-button {display: none;}

}
    
@media only screen and (max-width: 700px) {
    .toggle-button {
        display: flex;
        margin-top: 0.625em;
        margin-right: 0.625em;
    }
    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    .links ul {
        width: 100%;
        flex-direction: column;
    }
    .links li {
        text-align: center;
        padding: 10px;
       
    }
    .links li a {
        margin-top: 20px;
    }
    .links.active {
        display: flex;
    }
    h1 {
        font-size: 2rem;
    }
    h1 span {
        font-size: 3rem;

    }
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
    }
    .imgbox {
        max-width: 100%;
        overflow-wrap: scroll;
    }
   
}


@media only screen and (max-width:390px) {
    .toggle-button {
        display: flex;
        margin-top: 10px;
        
    }
    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5f4c9d;
        width: 100%;
    }
    .links ul {
        width: 100%;
        flex-direction: column;
    }
    .links li {
        text-align: center;
        padding: 5px;
       
    }
    .links li a {
        margin-top: 20px;
    }
    .links.active {
        display: flex;
    }
    h1 {
        font-size: 2rem;
    }
    h1 span {
        font-size: 3rem;
    }
    .content {
        flex-wrap: wrap;
        overflow-wrap: scroll;
    }
    .imgbox {
        max-width: 100%;
        overflow-wrap: scroll;
    }
   

   
}
/* Nav bar home page ends here */

/* ally */
.skip {
    background-color: #ffffff; /*put mouse on the color cube and click rgb to change to hex color*/
    padding: 5px;
    border: 1px solid black; /*solid + color means the color of the border*/
    position: absolute;
    top: 30px;
    left: -999px; /* pushes it off screen */
}
/* focus is a psuedo class that means the element has been tabbed to */
.skip:focus {
    left: 10px;
}




/* Home Page styles goes here */
body {
    background-image:url("../project/images/bck.jpg");
    background-repeat: no-repeat;
    background-color: #D4E6E3;
}
h2 {
    font-family: 'Alegreya Sans SC';font-size: 1.375em;
}
h1 {
    font-family: 'Alegreya Sans SC';font-size: 45px;
    margin-left: 60px;
}
h1 span {
    color:#405060;
    font-size: 1.9em;
    font-weight: 900;
    margin-left: 20px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textbox p {
    font-family: 'Alegreya Sans SC';font-size: 20px;
    padding: 40px;
    border-radius: 1em;
    background-color: #ffffff;
    margin-left: 80px;
}
.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 270px;
    padding: 8px 20px;
    background-color: #4a5662;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
}
.content .imgbox {
    width: 550px;
    display: flex;
    margin-right: 120px;
    margin-top: 70px;
}
.video {
    position:relative;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#8888d7;
    clip-path: circle(300px at left 800px);
}

