body {
    font-family: Tahoma, sans-serif;
  }
  p, h1, h2 {
    color:cornflowerblue
  }
  .evenrows {
    color:lightblue
  }
  .evenrows {
    background-color:lightcoral
  }
  p, h1 {
    font-size: 3em;
  }
  p, h2 {
    font-size: 1em;
  }